<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=mysql.remyntima.com.br;Port=3306;Database=remyntima07;Uid=remyntima07;Pwd=remyfs2016;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/Default.aspx" />
      <add url="~/Admin/" mappedUrl="~/Admin/Default.aspx" />
      <add url="~/Admin/Mensal/" mappedUrl="~/Admin/Mensal/Default.aspx" />
      <add url="~/Consulta/" mappedUrl="~/Consulta/Default.aspx" />
    </urlMappings>    
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1"/>
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <httpRuntime/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authentication mode="Forms">
      <forms name="Remy" loginUrl="~/admin/Login.aspx" protection="All" path="/" timeout="120000"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>